/*General*/
body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: background-color 0.3s ease;
}

/*Navigation Bar*/
.navigationBar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #222;
    padding: 15px 20px;
   
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.2);
    z-index: 10;
}


/*Name*/
.appName {
    font-size: 24px;
    font-weight: bold;
    color: #ffcc00;
    margin-right: 20px;

}

/* Menu */
.menu {
    display: flex;
    gap: 10px;
    margin-left: 40px;


}

.menu a {
    text-decoration: none;
    color: white;
    padding: 10px;
    transition: 0.3s;
}

.menu a:hover {
    color: #ffcc00;
}


/* Dropdown  for Genres */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
}

.dropdownMenu {
    display: none;
    position: absolute;
    background-color: #444;
    min-width: 120px;
    box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.2);
    z-index: 1;
}

.dropdownMenu a {
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
    transition: background 0.3s;
}

.dropdownMenu a:hover {
    background: #666;
}

/* Shows the dropdown menu on hover */

.dropdown:hover .dropdownMenu {
    display: block;
}

/*Search Bar */

.search {
    display: flex;
    align-items: center;
    background: #333;
    padding: 5px;
    border-radius: 5px;
    width: 100%; 
    max-width: 400px;
    margin-left: 40px;
  
}

.searchText {
    border: none;
    background: transparent;
    color: white;
    padding: 5px;
    outline: none;
    width: 100%;
}


/* Movies */
#card-container {
    display: grid;
    grid-gap: 30px 20px;
    background-color: #0d100f;
    overflow: auto;
    perspective: 1000px;
    justify-items: center; /* Center grid columns */
    align-items: start; /* Align rows to top */  
    width: 95%;
    height: 85%;
    position: fixed;
    padding: 30px; 
    padding-right: 110px;
    padding-bottom: 100px;  
    z-index: -5;
   
}

.card  {
    width: 380px;
    height: 620px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box; /* Include padding in dimensions */
    background: #2a2a2d;
    border-radius: 10px;
    border: 2px solid #2d2d33ac;
    box-shadow: 2px 4px 8px #44444ab3;
    cursor: pointer;
    transition: transform 0.3s;
    transform: perspective(1000px) rotateY(0deg);
    overflow: hidden;
}

.card:hover {
    transform: scale(1.05);
    z-index: 200;
}

.card img {
    width: 80%;
    object-fit: cover; /* Prevent image distortion */
    border-radius: 10px;
    margin-bottom: 5px;
    border: 2px solid #0f0f11bb;
    box-shadow: 0px 0px 10px 4px #141417ca ;
}

.card h2 {
    margin: 10px 0 5px 0;
    color: #ffcc00;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 1.4px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit title to 2 lines */
    -webkit-box-orient: vertical;
    text-shadow: #252222c1 0px 0px 10px;
}

.card p {
    margin: 0;
    flex: 1; 
    overflow-y: auto; /* Add scroll for long text */
    padding: 0 10px;
    line-height: 1.4;
    font-size: 16px;
    color: #ddd;
    width: 100%;
    box-sizing: border-box;
}




/*Sliding Movie Details */
.movie-details {
    position: fixed;
    top: 0;
    right: -100%; /* Hidden by default */
    width: 350px;
    height: 100%;
    background: #222;
    padding: 20px;
    box-shadow: -3px 0 5px rgba(255, 255, 255, 0.2);
    transition: right 0.3s ease-in-out;
    overflow-y: auto;

    z-index: 1000;
}

.movie-details.show {
    right: 0; /* Show when active */
}

.movie-details img {
    width: 90%;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.movie-details h2, 
.movie-details p {
    color: white;
    margin-bottom: 8px;
}

#details-title {
    color: #ffcc00;
    font-size: 28px;
    margin-top: 5px;
    margin-bottom: 3px;
    letter-spacing: 1.4px;
    text-shadow: #0e0c0cc1 0px 0px 8px;
}

#details-year {
    color: #e1e1e1bf;
    font-size: 16px;
    margin-top: 3px;
    margin-bottom: 10px;
}

/* Close Button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    padding: 2px;
}
.close-btn img {
margin-top: 10px;
width: 30px;
height: 30px;
}

/* Star Rating */
.rating {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 20px;
}
.star {
    font-size: 24px;
    color: gray;
    cursor: pointer; /*Cursor changes to hand when hovering */
    transition: color 0.3s; /* Smooth color change */
}
.star.active, /* When it is clicked */
.star:hover {
    color: #ffcc00;
}

#details-description {
    color: rgb(242, 242, 242);
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.movie-details .bold {
    font-weight: bold;
    font-size: 17px;
    color: #ffcc00c0;
}

#details-genre, #details-director, #details-cast {
color: rgb(210, 210, 210);
}

#details-cast {
margin-bottom: 30px;
}

/*! Comments section */

#comments-title {
    color: #ffcc00;
    font-size: 20px;
    font-style: light;
    letter-spacing: 1.4px;
    padding-top: 30px;
    margin-bottom: 0px;
    text-shadow: #0e0c0cc1 0px 0px 8px;
}

.comment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.comment-form input[type="text"],
.comment-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.comment-form input[type="text"] {
    height: 40px;
  }

  .comment-form textarea {
    height: 100px;
    resize: none;
  }

  .comment-form button[type="submit"] {
    width: 50%;
    height: 40px;
    background-color:  #ffcc00;
    color: rgb(17, 16, 16);
    font-size: 16px;
    letter-spacing: 1.4px;
    margin-top: 5px;
    font-weight: normal;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .comment-display {
    padding: 10px;
    margin-bottom: 20px;
  }

  .comment {
    background-color: #333;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .comment h4 {
    color: #ffcc00;
    margin: 5px 0 5px;
    text-align: left;
    font-size: 18px;
    letter-spacing: 1.4px;
  }

  .comment p {
    color: rgb(225, 225, 225);
    text-align: left;
    font-size: 18px;
    margin-top: 5px;
  }
  .comment p:last-child {
    color: rgb(100, 100, 100);
    font-size: 13px;
  }